<section class="section relative">
  <div class="container">
    <div class="section__grid relative gsap-fade-in">
      <div>
        <h2 class="section__headline">Education</h2>
      </div>
      <div class="circle"></div>
    </div>
    <div class="section__list grid section__experience-item gsap-fade-in">
      <div class="circle"></div>

      <div class="grid section__content-wrap">
        <div class="grid section__subheadline-wrap">
          <h3 class="section__subheadline">
            Bachelor of Fine Arts in Computer Art
          </h3>

          <div class="section__date-range">
            <time datetime="2010-08">August 2010</time> to
            <time datetime="2014-05">May 2014</time>
          </div>
        </div>

        <p>
          I earned a Bachelor of Fine Arts (BFA) in Computer Art from Northern
          Michigan University. The Computer Art program provided me with a
          comprehensive foundation in digital and visual arts, with an emphasis
          on 3D modeling, 3D animation, motion graphics, photo manipulation,
          vector illustration, web design and web development.
        </p>
      </div>
    </div>
  </div>
</section>
