<section class="section relative">
  <div class="container">
    <div class="section__grid relative gsap-fade-in">
      <div>
        <h2 class="section__headline">Experience</h2>
      </div>
      <div class="circle"></div>
    </div>
    <ol class="section__list section__list--experience grid unstyled-list">
      <li class="grid section__experience-item gsap-fade-in">
        <div class="circle"></div>

        <div class="grid section__content-wrap">
          <div class="grid section__subheadline-wrap">
            <h3 class="section__subheadline">
              Senior Front-End Developer at Elegant Seagulls
            </h3>

            <div class="section__date-range">
              <time datetime="2021-10">October 2021</time> to Present
            </div>
          </div>

          <p>
            Develop custom WordPress themes using Advanced Custom Fields (ACF)
            and PHP, enhancing website functionality and user experience. Build
            landing pages with Next.js and Contentful, optimizing site
            performance and engagement. Lead accessibility remediation projects
            for major SaaS companies, improving compliance with WCAG standards.
          </p>
        </div>
      </li>

      <li class="grid section__experience-item gsap-fade-in">
        <div class="circle"></div>

        <div class="grid section__content-wrap">
          <div class="grid section__subheadline-wrap">
            <h3 class="section__subheadline">
              Front-End Developer at Elegant Seagulls
            </h3>

            <div>
              <time datetime="2015-12">December 2015</time> to
              <time datetime="2021-10">October 2021</time>
            </div>
          </div>

          <p>
            Collaborated with the design and development team to create custom
            WordPress themes, contributing to successful client projects. Built
            and maintained websites for SaaS companies using Jamstack site
            generators, ensuring performance and scalability. Worked with the
            design team to ensure pixel-perfect implementation of design files
            into functional web pages.
          </p>
        </div>
      </li>

      <li class="grid section__experience-item gsap-fade-in">
        <div class="circle"></div>

        <div class="grid section__content-wrap">
          <div class="grid section__subheadline-wrap">
            <h3 class="section__subheadline">Intern at Elegant Seagulls</h3>

            <div class="section__date-range">
              <time datetime="2015-09">September 2015</time> to
              <time datetime="2015-12">December 2015</time>
            </div>
          </div>

          <p>
            Assisted in building custom WordPress themes, gaining hands-on
            experience in front-end development. Contributed to the design and
            development of logos and web pages, supporting the overall creative
            process.
          </p>
        </div>
      </li>
    </ol>
  </div>
</section>
