<section class="section relative">
  <div class="container">
    <div class="section__grid relative gsap-fade-in">
      <div>
        <h2 class="section__headline">Experience</h2>
      </div>
      <div class="circle"></div>
    </div>
    <ol class="section__list section__list--experience grid unstyled-list">
      <li>
        <div
          class="grid section__experience-item gsap-fade-in"
          role="group"
          aria-label="experience"
        >
          <div class="circle"></div>

          <div class="grid section__content-wrap">
            <h3 class="section__subheadline">
              Senior Front-End Developer at Elegant Seagulls
            </h3>

            <p>
              Since October 2021, in my role as a senior front-end developer at
              Elegant Seagulls, I develop custom WordPress themes using Advanced
              Custom Fields (ACF) and PHP, enhancing website functionality and
              user experience. I build landing pages with Next.js and
              Contentful, optimizing site performance and engagement. I also
              lead accessibility remediation projects for major SaaS companies,
              improving compliance with WCAG standards.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div
          class="grid section__experience-item gsap-fade-in"
          role="group"
          aria-label="experience"
        >
          <div class="circle"></div>

          <div class="grid section__content-wrap">
            <h3 class="section__subheadline">
              Front-End Developer at Elegant Seagulls
            </h3>

            <p>
              From December 2015 until October 2021, in my role as front-end
              developer at Elegant Seagulls, I collaborated with the design and
              development team to create custom WordPress themes, contributing
              to successful client projects. Built and maintained websites for
              SaaS companies using Jamstack site generators, ensuring
              performance and scalability. Worked with the design team to ensure
              pixel-perfect implementation of design files into functional web
              pages.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div
          class="grid section__experience-item gsap-fade-in"
          role="group"
          aria-label="experience"
        >
          <div class="circle"></div>

          <div class="grid section__content-wrap">
            <h3 class="section__subheadline">Intern at Elegant Seagulls</h3>

            <p>
              From September 2015 until December 2015, as an intern at Elegant
              Seagulls, I assisted in building custom WordPress themes, gaining
              hands-on experience in front-end development. Contributed to the
              design and development of logos and web pages, supporting the
              overall creative process.
            </p>
          </div>
        </div>
      </li>
    </ol>
  </div>
</section>
