{{ $src := resources.Get "/images/intro-background.jpg" }}
{{ $tinyw := default "450x webp" }}
{{ $smallw := default "903x webp" }}
{{ $mediumw := default "1354x webp" }}
{{ $largew := default "1806x webp" }}

{{ $data := newScratch }}
{{ $data.Set "tiny" ($src.Resize $tinyw) }}
{{ $data.Set "small" ($src.Resize $smallw) }}
{{ $data.Set "medium" ($src.Resize $mediumw) }}
{{ $data.Set "large" ($src.Resize $largew) }}

{{ $tiny := $data.Get "tiny" }}
{{ $small := $data.Get "small" }}
{{ $medium := $data.Get "medium" }}
{{ $large := $data.Get "large" }}

<div class="section__background-image section__background-image--footer">

  <picture>
    <source media="(max-width: 768px)" srcset="{{with $tiny.RelPermalink }}{{.}}{{ end }}">

    <source media="(max-width: 1080px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">

    <source media="(max-width: 1280px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">

    <source media="(min-width: 1440px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">

    <img
      src="{{ $src.RelPermalink }}"
      width="{{ $src.Width }}"
      height="{{ $src.Height }}"
      alt=""
    >
  </picture>

</div>
