<section class="hero relative overflow-hidden">
  <div class="container">
    <h1>My name is Jacob Proffer</h1>
  </div>
  <div class="hero__background-wrap relative">

    {{ partial "home/hero-background" }}

    <p class="hero__copy absolute size-48 gsap-fade-in">
      I am a web developer from Michigan / Senior Front-End Developer at <a href="https://www.elegantseagulls.com/" target="_blank">Elegant Seagulls</a> / Accessibility / Love Kombucha / Learning Japanese / Traveling / Trail Running</p>
    <div class="name-graphic absolute name-graphic--hero">
      <img class="image-cover" src="/images/jacob-proffer.svg" alt="" />
    </div>
  </div>
</section>
