<section class="hero">
  <div class="container">
    <H1>My name is Jacob Proffer</H1>
  </div>
  <div class="hero__background-wrap">
    <div class="hero__background">
      <div class="hero__image">
        <div class="content">
          <img src="/images/eye.jpg" alt="">
        </div>
      </div>
      <div class="hero__image">
        <div class="content">
          <img src="/images/eye.jpg" alt="">
        </div>
      </div>
      <div class="hero__image">
        <div class="content">
          <img src="/images/eye.jpg" alt="">
        </div>
      </div>
    </div>
    <p class="hero__copy size-48 gsap-fade-in">I am a web developer from Michigan / Senior Front-End Developer at <a href="https://www.elegantseagulls.com/" target="_blank">Elegant Seagulls</a> / Love Kombucha / Learning Japanese / Traveling / Trail Running</p>
    <div class="hero__name-graphic">
      <img src="/images/jacob-proffer.svg" alt="" />
    </div>
  </div class="hero__background-wrap">
</section>
