<section class="section">
  <div class="container">
    <div class="section__grid gsap-fade-in">
      <div>
        <h2>Let's Get Outside</h2>
      </div>
      <div>
        <p>From the climbing up and down the Mount Marquette loop to dashing down Benson, I love to run the Noque trails in my free time. Technical trails can be a solace in times of discomfort or anger. The rocks and roots deserve attention, thereby pushing negativity aside for the duration of the run.</p>
      </div>
      <div class="circle"></div>
    </div>

    <div class="section__grid">

      {{ if .Site.Data.photos }}

        <ul class="unstyled-list section__image-list">

          {{ range .Site.Data.photos }}

            {{ $src := resources.Get .source }}
            {{ $smallw := default "370x webp" }}
            {{ $mediumw := default "608x webp" }}
            {{ $largew := default "768x webp" }}

            {{ $data := newScratch }}
            {{ $data.Set "small" ($src.Resize $smallw) }}
            {{ $data.Set "medium" ($src.Resize $mediumw) }}
            {{ $data.Set "large" ($src.Resize $largew) }}

            {{ $small := $data.Get "small" }}
            {{ $medium := $data.Get "medium" }}
            {{ $large := $data.Get "large" }}

            <li class="section__image gsap-fade-in">
              <div class="content">

                <picture>
                  <source media="(max-width: 480px)" srcset="{{with $small.RelPermalink }}{{.}}{{ end }}">

                  <source media="(max-width: 768px)" srcset="{{with $medium.RelPermalink }}{{.}}{{ end }}">

                  <source media="(min-width: 1080px)" srcset="{{with $large.RelPermalink }}{{.}}{{ end }}">

                  <img
                    src="{{ $src.RelPermalink }}"
                    width="{{ $src.Width }}"
                    height="{{ $src.Height }}"
                    alt="{{ .alt }}"
                    loading="lazy"
                    decoding="async"
                  >
                </picture>

              </div>
            </li>
          {{ end }}

        </ul>

      {{ end }}

    </div>

  </div>
  <div class="name-graphic name-graphic--section">
    <img
      src="/images/jacob-proffer-2.svg"
      alt=""
      loading="lazy"
      decoding="async"
    />
  </div>
</section>
