<section class="section">
  <div class="container">
    <div class="section__grid gsap-fade-in">
      <div>
        <h2>Let's Get Outside</h2>
      </div>
      <div>
        <p>From the climbing up and down the Mount Marquette loop to dashing down Benson, I love to run the Noque trails in my free time. Technical trails can be a solace in times of discomfort or anger. The rocks and roots deserve attention, thereby pushing negativity aside for the duration of the run.</p>
      </div>
      <div class="circle"></div>
    </div>
    <div class="section__grid">
      <ul class="unstyled-list grid section__image-list">
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/run.jpg" alt="A person running." loading="lazy">
          </div>
        </li>
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/blue-loop.jpg" alt="Mount Marquette Blue Loop trail." loading="lazy">
          </div>
        </li>
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/carp.jpg" alt="Carp River trail." loading="lazy">
          </div>
        </li>
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/radio-tower-1.jpg" alt="Landscape view of the south Noque trails." loading="lazy">
          </div>
        </li>
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/radio-tower-2.jpg" alt="Obstructed view of Marquette Mountain." loading="lazy">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="name-graphic name-graphic--section">
    <img src="/images/jacob-proffer-2.svg" alt="" />
  </div>
</section>
