<section class="section">
  <div class="container">
    <div class="section__grid gsap-fade-in">
      <div>
        <h2>Sometimes I Take Pictures</h2>
      </div>
      <div>
        <p>I won't claim to be a photographer but I love cameras. Ever since I was introduced to the work of <a href="https://www.artcoup.com/" target="_blank" rel="noopener">Boogie</a>, I've been fascinated by monochrome street photography. From shooting Tri-X 400 on a Canon AE-1 to replicating it digitally with my Ricoh GR, I try my best to capture what I find fascinating.</p>
      </div>
      <div class="circle"></div>
    </div>
    <div class="section__grid">
      <ul class="unstyled-list grid section__image-list">
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/eye.jpg" alt="">
          </div>
        </li>
        <li class="section__image gsap-fade-in">
          <div class="content">
            <img src="/images/eye.jpg" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="name-graphic name-graphic--section">
    <img src="/images/jacob-proffer-2.svg" alt="" />
  </div>
  <div class="section__background-image section__background-image--photography">
    <img src="/images/intro-background.jpg" alt="">
  </div>
</section>
