<section class="section relative section--padding-top">
  <div class="container gsap-fade-in">
    <div class="section__grid relative">
      <div>
        <h2>Personal Projects</h2>
      </div>
      <div>
        <p>Outside of the office, I build sites that are based on my hobbies. I often utilize web development to collate data that can provide quick and precise insights into personal collections, such as how many movies I've seen in a particular theater or what game I'm currently playing on <a href="https://steamcommunity.com/">Steam</a>.</p>
      </div>
      <div class="circle absolute"></div>
    </div>

    {{ if .Site.Data.sites }}

      <ul class="section__list grid unstyled-list">

        {{ range .Site.Data.sites }}

          <li>
            <a
              class="section__list-link relative size-48 gsap-fade-in"
              href="{{ .url }}"
              target="_blank"
            >
              {{ .title }}
            </a>
          </li>

        {{ end }}

      </ul>

    {{ end }}
  </div>

  {{ partial "home/background-graphic" (dict "backgroundClass" "projects") }}

</section>
