<section class="section relative">
  <div class="container gsap-fade-in">
    <div class="section__grid relative">
      <div>
        <h2>Projects</h2>
      </div>
      <div class="circle"></div>
    </div>

    {{ if .Site.Data.sites }}

      <ul class="section__list grid unstyled-list">

        {{ range .Site.Data.sites }}

          {{ if .url }}

            <li>
              <a
                class="section__list-link relative size-48 gsap-fade-in"
                href="{{ .url }}"
                target="_blank"
              >
                {{ .title }}
              </a>
            </li>

          {{ end }}

        {{ end }}

      </ul>

    {{ end }}
  </div>

  {{/*  {{ partial "home/background-graphic" (dict "backgroundClass" "projects") }}  */}}

</section>
