<section class="section section--padding-top">
  <div class="container gsap-fade-in">
    <div class="section__grid">
      <div>
        <h2>Personal Projects</h2>
      </div>
      <div>
        <p>Outside of the office, I build sites that are based on my hobbies. I often utilize web development to collate data that can provide quick and precise insights into personal collections, such as how many movies I've seen in a particular theater or what game I'm currently playing on <a href="https://steamcommunity.com/">Steam</a>.</p>
      </div>
      <div class="circle"></div>
    </div>
    <ul class="section__list unstyled-list">
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://unhealthy-obsession.proffer.dev/" target="_blank">unhealthy-obsession.proffer.dev</a>
      </li>
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://weyland-yutani.proffer.dev/" target="_blank">weyland-yutani.proffer.dev</a>
      </li>
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://whatisjacobplaying.com/" target="_blank">whatisjacobplaying.com</a>
      </li>
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://tickets.proffer.dev/" target="_blank">tickets.proffer.dev</a>
      </li>
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://firstredsquadron.com/" target="_blank">firstredsquadron.com</a>
      </li>
    </ul>
  </div>

  {{ partial "home/intro-background" }}

</section>
