.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.center {
  text-align: center;
}

.unstyled-list {
  margin: 0;

  li {
    list-style: none;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.image-cover {
  @include size(100%);
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.gsap-fade-in {
  visibility: hidden;
}

.gsap-stagger-in {
  > * {
    visibility: hidden;
  }
}

.wrap {
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    pointer-events: none;
    content: '';
    top: -500px;
    right: -500px;
    bottom: -500px;
    left: -500px;
    z-index: 3;
    background-image: url("/images/noise.png");
    background-size: 320px 320px;
    opacity: .35;
    animation:grain 1.5s steps(6) infinite;
  }
}

.size-48 {
  --size-48-font-size: clamp(1.50rem, calc(-0.86rem + 4.29vw), 3.00rem);
  font-size: var(--size-48-font-size);
  text-transform: uppercase;
  line-height: 1.25;
}
