.visually-hide {
  position: absolute;
  top: 0;
  left: -9999px;
  clip: rec(0, 0, 0, 0);
  pointer-events: none;
}

.center {
  text-align: center;
}

.unstyled-list {
  margin: 0;

  li {
    list-style: none;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.image-cover {
  @include size(100%);
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden;
}

.gsap-fade-in {
  visibility: hidden;
}

.wrap {
  position: relative;
  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    pointer-events: none;
    content: "";
  }

  &::after {
    @include size(100%);
    top: 0;
    left: calc(var(--container-gutter) - 50px);
    z-index: 2;
    border-width: 0 0 0 10px;
    border-style: solid;
    border-color: #b9b9b9;
    filter: drop-shadow(8px 10px 8px #000);

    @include screen-below($mobile) {
      display: none;
    }
  }

  &::before {
    position: fixed;
    top: -110%;
    left: -50%;
    z-index: 3;
    width: 300%;
    height: 300%;
    background-image: url("/images/noise.svg");
    transform: translateX(50%);
    opacity: .5;
  }
}

.size-48 {
  --size-48-font-size: clamp(1.00rem, calc(0.30rem + 3.00vw), 3.00rem);
  font-size: var(--size-48-font-size);
  text-transform: uppercase;
  line-height: 1.25;
}

.circle {
  @include size(10px);
  position: absolute;
  top: 4px;
  right: 0;
  background-color: var(--white);
  border-radius: 50%;

  @include screen-below($tablet) {
    display: none;
  }
}

.name-graphic {
  position: absolute;
  left: 0;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--hero {
    top: calc(var(--name-position) * -1);
    z-index: 1;
    mix-blend-mode: difference;
  }

  &--section {
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }

  &--footer {
    --name-footer-spacing: clamp(0.31rem, calc(-0.02rem + 1.41vw), 1.25rem);
    bottom: calc(var(--name-footer-spacing) * -1);
  }
}

.gutter {
  padding: 0 var(--container-gutter);
}
