:root {
  --container: 1440px;
  --container-gutter: calc((100vw - var(--container)) / 2);

  --hero-background: clamp(4.63rem, calc(-2.45rem + 12.86vw), 9.13rem);

  // 284px at 1440px to 72px at 375px
  --image-list-spacing: clamp(4.50rem, calc(-0.17rem + 19.91vw), 17.75rem);

  --white: #fff;
  --black: #000;

  @include screen-below($desktopSm) {
    --container: 1280px;
  }

  @include screen-below($desktopSm) {
    --container: 1080px;
  }

  @include screen-below($laptopSm) {
    --container: 810px;
  }

  @include screen-below($tablet) {
    --container: 608px;
  }

  @include screen-below($mobile) {
    --container: 100%;
  }
}

*,
*::after,
*::before {
  @include box-sizing(border-box);
}

::selection {
  color: var(--white);
  background-color: var(--black);
}

* {
  &:focus {
    outline: 1px solid var(--white);
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: var(--white);
  background-color: var(--black);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  transition: color .25s ease-in-out;

  @include hover {
    text-decoration: none;
  }
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}
