h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-wrap: balance;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  max-width: 30ch;
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 28px;
}
