<footer class="section">
  <div class="container gsap-fade-in">
    <div class="section__grid">
      <div>
        <h2>Social Links</h2>
      </div>
      <div>
        <p>I'm not a fan of social media these days, so you'll rarely see me post anything on <a href="https://www.twitter.com/jacobproffer">Twitter</a>. Though I am considering re-starting my travel and language study <a href="https://www.jacobproffer.com/">blog</a>.</p>
      </div>
      <div class="circle"></div>
    </div>
    <ul class="section__list section__list--margin-bottom unstyled-list">
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://github.com/jacobproffer/" target="_blank">github.com/jacobproffer</a>
      </li>
      <li>
        <a class="section__list-link size-48 gsap-fade-in" href="https://dribbble.com/jacobproffer/" target="_blank">dribbble.com/jacobproffer</a>
      </li>
    </ul>
  </div>
  <div class="name-graphic name-graphic--footer">
    <img src="/images/jacob-proffer-2.svg" alt="" />
  </div>
  <div class="section__background-image section__background-image--footer">
    <img src="/images/intro-background.jpg" alt="">
  </div>
</footer>
