<section class="hero relative overflow-hidden">
  <div class="container">

    <h1>{{ .headline }}</h1>

  </div>
  <div class="hero__background-wrap relative">

    {{ partial "home/hero-background" }}

    <p class="hero__copy absolute size-48 gsap-fade-in">Senior Front-End Developer with 9 years of experience specializing in building inclusive websites.</p>
    <div class="name-graphic absolute name-graphic--hero">
      <img class="image-cover" src="/images/jacob-proffer.svg" alt="" />
    </div>
  </div>
</section>
