.hero {
  // 135px at 1440px to 34px at 375px
  --hero-top-padding: clamp(2.13rem, calc(-0.10rem + 9.48vw), 8.44rem);
  padding-top: var(--hero-top-padding);
  text-align: center;

  &::before {
    // 80px at 1440px to 20px at 375px
    --bar-sizes: clamp(1.25rem, calc(-0.07rem + 5.63vw), 5.00rem);
    position: absolute;
    top: 0;
    right: 8.5%;
    z-index: 2;
    width: var(--bar-sizes);
    height: 100%;
    background-color: var(--black);
    mix-blend-mode: overlay;
    pointer-events: none;
    content: "";
  }

  &__background-wrap {
    // 75px at 1440px to 19px at 375px
    --name-position: clamp(1.19rem, calc(-0.04rem + 5.26vw), 4.69rem);
  }

  &__background {
    // 148px at 1440px to 38px at 375px
    --background-margin: clamp(2.38rem, calc(-0.05rem + 10.33vw), 9.25rem);
    grid-template-columns: 1fr 2fr 1.5fr;
    margin-top: var(--background-margin);

    @include screen-above($mobile) {
      margin-left: var(--container-gutter);
    }
  }

  &__image {
    @include ratio(770, 900);

    &:first-of-type,
    &:last-of-type {
      filter: saturate(0);
    }

    img {
      @media (prefers-reduced-motion: no-preference) {
        mix-blend-mode: soft-light;
      }
    }
  }

  &__texture {
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  &__copy {
    bottom: 36px;
    left: 50%;
    z-index: 3;
    max-width: 1800px;
    width: 100%;
    margin: 0;
    transform: translateX(-50%);
  }
}
