.hero {
  // 135px at 1440px to 34px at 375px
  --hero-top-padding: clamp(2.13rem, calc(-0.10rem + 9.48vw), 8.44rem);
  padding-top: var(--hero-top-padding);
  height: 100vh;

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: #{createFluidValue(50px, 150px)};
  }

  &__background {
    @include size(100%);
    // 148px at 1440px to 38px at 375px
    --background-margin: clamp(2.38rem, calc(-0.05rem + 10.33vw), 9.25rem);
    grid-template-columns: 1fr 2fr 1.5fr;
    top: 0;
    left: 0;
  }

  &__image {
    @include ratio(1, 1);

    &:first-of-type,
    &:last-of-type {
      filter: saturate(0);
    }

    img {
      @media (prefers-reduced-motion: no-preference) {
        mix-blend-mode: darken;
      }
    }
  }

  &__texture {
    top: 0;
    left: 0;
    z-index: -1;
    mix-blend-mode: difference;
    pointer-events: none;
  }

  &__copy {
    bottom: 36px;
    left: 50%;
    z-index: 3;
    max-width: 1800px;
    width: 100%;
    margin: 0;
    transform: translateX(-50%);
  }

  &__outer-circle {
    @include size(40vw);
    position: absolute;
    top: 50%;
    left: calc(50% + 50px);
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: hard-light;
    aspect-ratio: 1;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: center;
    overflow: hidden;

    @include screen-below($tablet) {
      @include size(60vw);
      left: 50%;
    }

    @include screen-below($mobile) {
      @include size(70vw);
    }
  }
}
