.section {
  // 320px at 1440px to 160px at 880px
  --intro-padding: clamp(10.00rem, calc(-5.71rem + 28.57vw), 20.00rem);
  position: relative;
  padding-bottom: calc(var(--intro-padding) - 10px);

  &--padding-top {
    padding-top: var(--intro-padding);
  }

  p {
    max-width: 36ch;
    margin: 0;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__list {
    // 285px at 1440px to 142px to 880px
    --intro-list-spacing: clamp(8.88rem, calc(-5.17rem + 25.54vw), 17.81rem);
    display: grid;
    margin-top: var(--intro-list-spacing);
  }

  &__list-link {
    position: relative;
    text-decoration: none;

    &::after {
      display: inline-block;
      margin-left: 40px;
      content: "/";
    }

    @include hover {
      text-decoration: underline;
    }
  }

  &__image-list {
    // 186px at 1440px to 94px at 880px
    --image-list-gap: clamp(5.88rem, calc(-3.16rem + 16.43vw), 11.63rem);
    row-gap: var(--image-list-gap);
    margin-top: var(--image-list-spacing);
  }

  &__image {
    // 670px at 1440px to 502px at 880px
    --section-image-width: clamp(31.38rem, calc(14.88rem + 30.00vw), 41.88rem);
    // 447px at 1440px to 335px at 880px
    --section-image-height: clamp(20.94rem, calc(9.94rem + 20.00vw), 27.94rem);
    position: relative;
    width: var(--section-image-width);
    height: var(--section-image-height);
    overflow: hidden;

    img {
      @include size(100%);
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      filter: saturate(0);
      transform: translate(-50%, -50%);
    }
  }


  &__background-image {
    // 650px at 1440px to 325px at 880px
    --background-image-position: clamp(20.31rem, calc(-11.61rem + 58.04vw), 40.63rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    pointer-events: none;

    img {
      @include size(100%);
      object-fit: cover;
    }

    &::before {
      @include size(100%);
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      content: "";
    }
  }
}
