.section {
  // 320px at 1440px to 80px at 375px
  --intro-padding: clamp(5.00rem, calc(-0.28rem + 22.54vw), 20.00rem);
  position: relative;
  padding-bottom: calc(var(--intro-padding) - 10px);

  &--padding-top {
    padding-top: var(--intro-padding);
  }

  p {
    max-width: 36ch;
    margin: 0;
  }

  &__grid {
    // 170px at 1440px to 85px at 1080px
    --section-grid-padding: clamp(5.31rem, calc(-10.62rem + 23.61vw), 10.63rem);
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-right: var(--section-grid-padding);

    @include screen-below($tablet) {
      padding-right: 0;
    }

    @include screen-below($mobile) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__list {
    // 285px at 1440px to 72px to 375px
    --intro-list-spacing: clamp(4.50rem, calc(-0.19rem + 20.00vw), 17.81rem);
    display: grid;
    row-gap: 20px;
    margin-top: var(--intro-list-spacing);

    &--margin-bottom {
      margin-bottom: var(--intro-list-spacing);
    }
  }

  &__list-link {
    position: relative;
    text-decoration: none;

    &::after {
      // 40px at 1440px to 10px at 375px
      --list-slash-spacing: clamp(0.63rem, calc(-0.04rem + 2.82vw), 2.50rem);
      display: inline-block;
      margin-left: var(--list-slash-spacing);
      content: "/";

      @include screen-below($tablet) {
        display: none;
      }
    }

    @include hover {
      text-decoration: underline;
    }
  }

  &__image-list {
    // 186px at 1440px to 47px at 375px
    --image-list-gap: clamp(2.94rem, calc(-0.12rem + 13.05vw), 11.63rem);
    row-gap: var(--image-list-gap);
    width: 100%;
    margin-top: var(--image-list-spacing);
  }

  &__image {
    @include ratio(670, 440);
    position: relative;

    img {
      @include size(100%);
      object-fit: cover;
      filter: saturate(0);
    }
  }


  &__background-image {
    position: absolute;
    left: 0;
    z-index: -2;
    pointer-events: none;

    &--projects {
      top: 0;
    }

    &--photography {
      bottom: 0;
    }

    img {
      @include size(100%);
      object-fit: cover;
    }

    &::before {
      @include size(100%);
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
      content: "";
    }
  }
}
