.section {
  padding-bottom: calc(var(--size-100-200) - 10px);

  &--padding-top {
    padding-top: var(--size-100-200);
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__headline {
    margin: 0;
  }

  &__list {
    --list-row-gap: var(--size-1);
    row-gap: var(--list-row-gap);
    margin-top: var(--size-75-150);

    &--margin-bottom {
      margin-bottom: var(--size-100-200);
    }

    &--experience {
      --list-row-gap: var(--size-50-100);
    }
  }

  &__list-link {
    text-decoration: none;

    &::after {
      // 40px at 1440px to 10px at 375px
      --list-slash-spacing: clamp(0.63rem, calc(-0.04rem + 2.82vw), 2.50rem);
      display: inline-block;
      margin-left: var(--list-slash-spacing);
      content: "/";

      @include screen-below($tablet) {
        display: none;
      }
    }

    @include hover {
      text-decoration: underline;
    }
  }

  &__image-list {
    width: 100%;
    margin-top: var(--image-list-spacing);
  }

  &__image {
    // 186px at 1440px to 47px at 375px
    --image-list-gap: clamp(2.94rem, calc(-0.12rem + 13.05vw), 11.63rem);
    @include ratio(768, 508);
    max-width: 768px;

    &:not(:last-of-type) {
      margin-bottom: var(--image-list-gap);
    }

    @include screen-above($tablet) {
      margin-left: auto;
    }

    img {
      filter: saturate(0);
    }
  }

  &__experience-item {
    gap: 50px;
    align-items: start;

    @include screen-above($tablet) {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__content-wrap {
    row-gap: var(--size-2);
  }

  &__subheadline,
  &__date-range {
    margin: 0;
  }

  &__background-image {
    left: 50%;
    z-index: -2;
    max-width: 1806px;
    width: 100%;
    pointer-events: none;
    transform: translateX(-50%);

    &--projects {
      top: 0;
    }

    &--footer {
      bottom: 0;
    }

    &::before {
      @include size(100%);
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(360deg, var(--black) 0%, rgba(0, 0, 0, 0) 100%);
      content: "";
    }
  }
}
